* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.menu a li:visited{
    color: black;
}


.menu{
    background-color: black;
    position: sticky;
    top: 0;   
}

.menu a{
    color:black;
    display: flex;
    float: left;
    width: 25%;
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color: #bedee6;
}

.menu a:first-child {background-color: #abafd2}

.menu a:nth-child(2n) { background-color: #506889}

.menu a:hover{
    color: red;
}

header {
    padding: 5px 20px;
}

section{
    height: 100vh;
    
}
#home {
    padding-top: 90px;
    color: red;
}

#about {

}

#projects {

}

#contact {

}
