* {
    margin: auto;
    padding: auto;
}

.menu{
    background-color: black;
    background-attachment: fixed;
}

.menu a {
    display: inline-block;
        max-width: 400px;
        width: 15%;
        height: 90px;
        text-align: center;
        background-color: #bedee6;
}

.menu a:first-child {background-color: #1227e7}

.menu a:nth-child(2n) { background-color: #99b5da}

.main {
    height: 1200px;
    background-color: aqua;
    background-attachment: scroll;
}

