* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.menu{
    background-color: black;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0px;
    display: inline-block;
    max-width: 400px;
    width: 24.6%;
    height: 90px;
    text-align: center;
    background-color: #bedee6;
}

.menu li:first-child {background-color: #1227e7}

.menu li:nth-child(2n) { background-color: #99b5da}

header {
    padding: 5px 20px;
}

section{
    height: 100vh;
}
#home {

}

#about {

}

#projects {

}

#contact {

}