.menu{
    background-color: aquamarine;
}

.menu a {
    display: inline-block;
        max-width: 400px;
        width: 15%;
        height: 40px;
        text-align: center;
        background-color: #eef2ff;
}

